RewriteEngine on

AddDefaultCharset utf-8

RewriteRule ^(.*)\.html$ turnosapp.php?path=$1&type=1 [L,QSA]
RewriteRule ^(.*)\.json$ turnosapp.php?path=$1&type=2 [L,QSA]
RewriteRule ^(.*)\.pdf$ turnosapp.php?name=$1&type=3 [L,QSA]
RewriteRule ^(.*)\.rasty$ turnosapp.php?name=$1&type=4 [L,QSA]
RewriteRule ^(.*)\.do$ turnosapp.php?path=$1&type=5 [L,QSA]
#RewriteRule ^(.*)$ turnosapp.php?path=$1 [L,QSA]