<!-- BEGIN: main -->
<script>
$(document).ready(function(){
	setInterval("updateClock('#spanClock')", 1000);
});
</script>
<nav class="navigation-bar">
    <div class="navigation-bar-content">

		<!-- BEGIN:menu_main -->
		<div class="element ">
        	<!-- BEGIN: menuTitle -->
			<a href="#" class="dropdown-toggle">{menuLabel}</a>
			<!-- END: menuTitle -->
			<!-- BEGIN: menuGroup -->
		    <ul data-role="dropdown" class="dropdown-menu">
		    	<!-- BEGIN: menuOption -->
		        	<li><a href="#" onclick="{onclick}" ><!-- BEGIN: image --><img style="border:0;margin-right:10px;width:24px;height: 24px;" src="{src}"/><!-- END: image --> {label}</a></li>
		        <!-- END: menuOption -->
			</ul>
			<!-- END: menuGroup -->
		</div>
		<!-- END:menu_main-->

        <!-- BEGIN:menu_page -->
        <span class="element-divider"></span>
		<div class="element place-left">
        	<!-- BEGIN: menuTitle -->
			<a href="#" class="dropdown-toggle">{menuLabel}</a>
			<!-- END: menuTitle -->
			<!-- BEGIN: menuGroup -->
		    <ul data-role="dropdown" class="dropdown-menu" style="display: none;">
		    	<!-- BEGIN: menuOption -->
		        <li><a href="#" onclick="{onclick}" ><!-- BEGIN: image --><img style="border:0;margin-right:10px;width:24px;height: 24px;" src="{src}"/><!-- END: image -->{label}</a></li>
		        <!-- END: menuOption -->
			</ul>
			<!-- END: menuGroup -->
		</div>
		<!-- END:menu_page -->


        <span class="element-divider"></span>
        <a title="{reloadLabel}" href="#" onclick="javascript: location.reload();" class="element brand"><span class="icon-spin"></span></a>
        <span class="element-divider"></span>

        <div class="element place-right">
        	<a href="#" class="dropdown-toggle">
        		{user}
                <span class="icon-user"></span>
            </a>
            
            <ul data-role="dropdown" class="dropdown-menu place-right" style="display: none;">
                
                <!-- BEGIN: menuOptionProfile -->
		        	<li><a href="#" onclick="{onclick}" ><!-- BEGIN: image --><img style="border:0;margin-right:10px;width:24px;height: 24px;" src="{src}"/><!-- END: image --> {label}</a></li>
		        <!-- END: menuOptionProfile -->
                
                <!-- BEGIN: menuOptionExit -->
		        	<li><a href="#" onclick="{onclick}" ><!-- BEGIN: image --><img style="border:0;margin-right:10px;width:24px;height: 24px;" src="{src}"/><!-- END: image --></i> {label}</a></li>
		        <!-- END: menuOptionExit -->
                
            </ul>
        </div>

		<span class="element-divider place-right"></span>
		<div class="element place-right">
			<span class="currentTime" id="spanClock"></span>
		</div>
		<span class="element-divider place-right"></span>

        <!-- BEGIN:menu_home -->
        <span class="element-divider place-right"></span>
		<a title="{homeLabel}" href="#" onclick="javascript: gotoLink('{linkHome}')" class="element brand place-right"><span class="icon-home"></span></a>
		<span class="element-divider place-right"></span>
		<!-- END:menu_home -->
	

    </div>
</nav>
<!-- END: main -->