<!-- BEGIN:main -->
<script language="javascript"
	src="{WEB_PATH}js/autocomplete/simpleAutoComplete.js"></script>
<link rel="stylesheet"
	href="{WEB_PATH}css/autocomplete/simpleAutoComplete.css"
	type="text/css" />

<script>
function selectClienteObraSocialCallback(data){

	osOid = data["obraSocialOid"];
	osNombre = data["obraSocialNombre"];
	planOid = data["planObraSocialOid"];
	osNro = data["nroObraSocial"];
	tipoAfiliado = data["tipoAfiliado"];
	
	dataOS = new Array();
	dataOS["oid"] = osOid;
	obraSocialchange( dataOS, planOid );
	
	if( osOid != undefined ){		
		$("#findentity_obraSocial_inputCode").val(osOid);
		$("#findentity_obraSocial_autocomplete").val(osNombre);
		$("#obraSocial").val(osOid);;
	}
	
	if( osNro != undefined ){		
		$("#nroObraSocial").val(osNro);
	}else{
		$("#nroObraSocial").val("");
		}

	if( tipoAfiliado != undefined ){		
		$("#tipoAfiliado").val(tipoAfiliado);
	}

	$("#importe").focus();

}


function verObrasSocialesCliente(){

	//creamos el div donde vamos a escribir el popup
	//agregamos el div para el dialogo si es que no existe.
	if (!$("#practicaForm_popup_obrassociales").length) {
		$("body").append("<div id='practicaForm_popup_obrassociales' style='display: none;'></div>");
	}
		
	var clienteOid = $("#findentity_cliente_inputCode").val();
	
	var title = '{buscar_obraSocial_title}';

	var fCallback = "selectClienteObraSocialCallback";
	
	var height = "600";

	var width  = "80%";

	var popupDivId = "practicaForm_popup_obrassociales";

	
	var url = "{WEB_PATH}obrasSociales/cliente.html?clienteOid=" + clienteOid  + "&selectRowCallback=" + fCallback + "&popupDivId=" + popupDivId ;
	var uiDialog = "#"+popupDivId;
	var dialogOpts = {
            title : title,
            modal : true,
            autoOpen : false,
            bgiframe : true,
            height : height,
            width : width,
            open : function() {
                $(uiDialog).load(url);
            }
        };
    $(uiDialog).children().remove();
    //$(uiDialog).dialog("destroy");
    $(uiDialog).dialog(dialogOpts);
    $(uiDialog).dialog("open");
}
function obraSocialchange(entity, planActual){

	var planActualOid = '';

	if(planActual == undefined ){
		planActualOid = '{planObraSocialOid}';
	}else
		planActualOid = planActual;

	//buscar la obra social
	if(entity["error"] == undefined){

		var osOid = entity["oid"];

		
		if( osOid != undefined ){		

			//voy a buscar los planes de la obra social
			doGetPlanesByObraSocial('{WEB_PATH}', osOid, loadPlanes, planActualOid );
				
			//setear el del cliente actual.
		}

	}
}

function loadPlanes( data, planActualOid ){

	//me quedo con la del cliente para setearla luego de cargar los planes

	$('#planObraSocial')
    .find('option')
    .remove();
    
	for (var i=0;i<data.length;i++){

		if(data[i][0] == planActualOid){
			$("#planObraSocial").append("<option value='" + data[i][0] + "' selected>" + data[i][1] + "</option>");
		}else{
			$("#planObraSocial").append("<option value='" + data[i][0] + "'>" + data[i][1] + "</option>");
		}
		
		
	}
	$('#planObralSocial option[value='+planActualOid+']').attr('selected','selected');
	//$("#planObralSocial").val( planActualOid );

}
$(function() {

	$("#observaciones").focus();
	
});
</script>

<div>
<form class="turnos_form" id="practica_form" onsubmit="return validate('practica_form');" action="{action}" method="{method}">

		<fieldset>
		<legend>{legend}</legend>

		<rasty id="backSuccess" />
	    <rasty id="oid" />
		
		<div class="item" style="min-width: {minWidth};">
		    <label for="profesional">{lbl_profesional} *:</label>
		    <rasty id="profesional" />
		</div>
				
		<div class="item" style="min-width: {minWidth};">
		    <label for="fecha">{lbl_fecha} *:</label>
		    <rasty id="fecha" />
		</div>
		
		<div class="item" style="min-width: {minWidth};">
		    <label for="cliente">{lbl_cliente} *:</label>
		    <rasty id="cliente" />
		</div>

		<div class="item ">
			<label for="input_verObrasSociales">&nbsp;</label>
		    {lbl_verObrasSociales}<button type="button"  id="input_verObrasSociales" onclick="javascript: verObrasSocialesCliente(); "><i class="icon-search on-left"></i>{btn_verObrasSociales}</button>
		</div>

		<div class="item" style="min-width: {minWidth};">
		    <label for="obraSocial">{lbl_obraSocial}:</label>
		    <rasty id="obraSocial" />
		</div>

		<div class="item">
		    <label for="planObraSocial">{lbl_planObraSocial}:</label>
		    <rasty id="planObraSocial" />
		</div>

		<div class="item" style="min-width: {minWidth};">
		    <label for="nroObraSocial">{lbl_nroObraSocial}:</label>
		    <rasty id="nroObraSocial" />
		</div>

		<div class="item">
		    <label for="tipoAfiliado">{lbl_tipoAfiliado}:</label>
		    <rasty id="tipoAfiliado" />
		</div>
		

		<div class="item" style="min-width: {minWidth};">
		    <label for="nomenclador">{lbl_nomenclador} *:</label>
		    <rasty id="nomenclador" />
		</div>
		
		<div class="item observaciones" style="min-width: {minWidth}; ">
		    <label for="observaciones">{lbl_observaciones}:</label>
		    <rasty id="observaciones" />
		</div>
				
		
	</fieldset>
	

</form>
{errorMessage}
<form  class="turnos_form" id="buttons{inputId}">
	<fieldset class="tblFooters">
	
		<button type="button"  id="input_submit" onclick="javascript: submitFormulario('practica_form'); "><i class="icon-checkmark on-left"></i>{lbl_submit}</button>

		<button type="button"  id="input_button_2" onclick="javascript: window.location.href = '{cancel}'; "><i class="icon-cancel-2 on-left"></i>{lbl_cancel}</button>
	
	</fieldset>
</form>	
</div>
<!-- END:main -->