<!-- BEGIN:main -->
<style>
#historia_clinica_resumen{
	position:relative;
}
#historia_clinica_resumen .practicas{

}

#historia_clinica_resumen .botones{
	text-align: right;
}
</style>
<script type="text/javascript">
function historiaClinica{id}_historiaChange(data){

	data = new Array();
	data["oid"] = '{cliente_oid}';
	event = new Event("historiachange", data, "HistoriaClinica");
	subject.notify(event);
}


$(document).ready(function(){
	
	$(".practica").hover(
			function () {
				$(this).find("div.actions").show();
				},
				function () {
					//$(this).find("div.actions").css({"display":"none"});
					$(this).find("div.actions").hide();
				}
			);	
	
});


</script>

<div id="historia_clinica_resumen" style="width: 100%">
			
<!-- BEGIN: practica -->
	<div class="practica" >
		<!--div style="cursor: pointer;" title="{editar_label}"  onclick="javascript: editarPractica('{linkModificar}','{practica_oid}');return false;"--> 
		<div> 
			<div class="practica_left">
				<span class="practica_fecha">{fecha}</span> 
			    <span class="practica_nomenclador">{nomenclador_codigo} - {nomenclador_nombre}</span>
				<span class="practica_obraSocial">{obraSocial}</span>
			    <span class="practica_profesional">{profesional}</span>
			</div>
		    <div class="practica_right" style="cursor: pointer;" title="{editar_label}"  onclick="javascript: editarPractica('{linkModificar}','{practica_oid}');return false;">
			{observaciones}
			</div>
			<div style="clear: both;"></div>
		</div>
		
		
		<div class="actions toolbar">
				<button type="button" title="{editar_label}"
					onclick="javascript: editarPractica('{linkModificar}','{practica_oid}');return false;">
					<i class="icon-pencil"></i>
				</button>
				<button type="button" title="{borrar_label}"
					onclick="javascript: borrarPractica('{linkBorrar}', '{practica_oid}', '{cliente_oid}', '{cliente}', historiaClinica{id}_historiaChange);return false;">
					<i class="icon-remove"></i>
				</button>
		</div>
		
	</div>

<!-- END: practica -->

</div>
<!-- END:main -->