<!-- BEGIN:main -->
<style>
#historia_clinica_resumen{
	position:relative;
}
#historia_clinica_resumen .practicas{

}

#historia_clinica_resumen .botones{
	text-align: right;
}
</style>
<script type="text/javascript">
function historiaClinica{id}_historiaChange(data){

	data = new Array();
	data["oid"] = '{cliente_oid}';
	event = new Event("historiachange", data, "HistoriaClinica");
	subject.notify(event);
}
</script>

<div id="historia_clinica_resumen" style="width: 100%">
			
<!-- BEGIN: practica -->
	<div class="practica" >
		<div class="practica_actions"> 
			<a style="cursor: pointer;" title="{editar_label}" href="#" onclick="javascript: editarPractica('{linkModificar}','{practica_oid}');return false;" >
			<img class="btn-icon" border=0 src="{WEB_PATH}/css/images/editar.png" /></a>
		
			<a style="cursor: pointer;" title="{borrar_label}" href="#" onclick="javascript: borrarPractica('{linkBorrar}', '{practica_oid}', '{cliente_oid}', '{cliente}', historiaClinica{id}_historiaChange);return false;" >
			<img class="btn-icon" border=0 src="{WEB_PATH}/css/images/delete_over.png" /></a>
		</div>
		<div class="practica_left" style="cursor: pointer;" title="{editar_label}"  onclick="javascript: editarPractica('{linkModificar}','{practica_oid}');return false;">
			<span class="practica_fecha">{fecha}</span> 
		    <span class="practica_nomenclador">{nomenclador_codigo} - {nomenclador_nombre}</span>
			<span class="practica_obraSocial">{obraSocial}</span>
		    <span class="practica_profesional">{profesional}</span>
		</div>
	    <div class="practica_right" style="cursor: pointer;" title="{editar_label}"  onclick="javascript: editarPractica('{linkModificar}','{practica_oid}');return false;">
		{observaciones}
		</div>
		<div style="clear: both;"></div>
	</div>

<!-- END: practica -->

</div>
<!-- END:main -->