<!-- BEGIN:main -->
<script>
function agendaEnSala{id}_turnoChange(data){

	event = new $.fn.rasty.RastyEvent("turnochange", data, "Turno");
	subject.notify(event);
}

$(document).ready(function(){
	/*
	var isChrome = !!window.chrome && !!window.chrome.webstore;
	if( isChrome ){
		$(".agenda_turno").width("95%");
	}*/
});

</script>

<style>

</style>

<div class="agenda">
	<div class="totalPacientes">{totalPacientes_label}: {totalPacientes}</div>
		<!-- BEGIN: turno -->
		<div class="agenda_turno {first_css} {last_css} {odd_css}">
			<h2 class="{prioridad_css}" title='{linkSeleccionarLabel}' style="cursor:pointer;" onclick="javascript: gotoLink('{linkSeleccionarTurno}');">{cliente}<br>
			<span>{obra_social}</span>
			<span class="importe">{importe}</span>
			<!-- BEGIN:observaciones -->
			<span class="observaciones">{observaciones}</span>
			<!-- END:observaciones -->
			
			</h2>
			<p class="{turno_css}">
				<span>{hora}<!-- BEGIN:duracion -->{duracion}<!-- END:duracion --></span>
				<!-- BEGIN: iniciar -->
				<a style="cursor: pointer;" title="{iniciar_label}" href="#" onclick="javascript: iniciarTurno('{linkIniciar}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaEnSala{id}_turnoChange);return false;" >
				<img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/ensala.png"/></a>
				<!-- END: iniciar -->
				<!-- BEGIN: finalizar -->
				<a style="cursor: pointer;" title="{finalizar_label}" href="#" onclick="javascript: finalizarTurno('{linkFinalizar}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaEnSala{id}_turnoChange);return false;" >
				<img class="btn-icon" border=0 src="{WEB_PATH}/css/images/turno_finalizar.png" /></a>
				<!-- END: finalizar -->
				<!-- BEGIN: ensala -->
				<a style="cursor: pointer;" title="{enSala_label}" href="#" onclick="javascript: turnoEnSala('{linkEnSala}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaEnSala{id}_turnoChange);return false;" >
				<img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/turno_registrar.png"/></a>
				<!-- END: ensala -->
				<!-- BEGIN: ensala_finalizar -->
				<a style="cursor: pointer;" title="{ensala_finalizar_label}" href="#" onclick="javascript: finalizarTurno('{linkFinalizar}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaEnSala{id}_turnoChange);return false;" >
				<img class="btn-icon" border=0 src="{WEB_PATH}/css/images/turno_finalizar.png" /></a>
				<!-- END: ensala_finalizar -->
				
			</p>
			<!-- BEGIN: prioridaddd -->
			<p class="{prioridad_css}">
				{prioridad}
			</p>
			<!-- END: prioridaddd -->
			<div style="clear:both;"></div>
		</div>
		<!-- END: turno -->
		
			
</div>
<!-- END:main -->