<!-- BEGIN:main -->
<script>

function turnoEnSalaRegistrarCliente{id}( params ){

	//creamos el div donde vamos a escribir el popup
	//agregamos el div para el dialogo si es que no existe.
	if (!$("#agendaTurnos{id}_popup").length) {
		$("body").append("<div id='agendaTurnos{id}_popup' style='display: none;'></div>");
	}
	
	var nombre = params["nombre"];
	var telefono = params["telefono"];
	var turnoOid = params["turnoOid"];
	var initialText = nombre;
	var title = "Registrando paciente";
	var width = "60%";
	var height = "500";
	var extraParams = "nombre=" + encodeURI(nombre) + "&" + "telefono=" + encodeURI(telefono) + "&" + "turnoOid=" + encodeURI(turnoOid);

	console.log("extraParams:" + extraParams);
	openAddentityPopup("{WEB_PATH}", "TurnoForm", "agendaTurnos{id}_show_addturnoquick_callback", "#agendaTurnos{id}_popup", initialText, title, extraParams, height, width, "agendaTurnos{id}_popup");
	
}

function agendaTurnos{id}_show_addturnoquick(fecha, hora, profesional){
	

	//creamos el div donde vamos a escribir el popup
	//agregamos el div para el dialogo si es que no existe.
	if (!$("#agendaTurnos{id}_popup").length) {
		$("body").append("<div id='agendaTurnos{id}_popup' style='display: none;'></div>");
	}
		
	var initialText = "";
	var title = "Asignando nuevo turno";
	var width = "60%";
	var height = "500";
	var extraParams = "hora=" + encodeURI(hora) + "&" + "fecha=" + encodeURI(fecha) + "&" + "profesional=" + encodeURI(profesional);

	console.log("extraParams:" + extraParams);
	openAddentityPopup("{WEB_PATH}", "TurnoQuickForm", "agendaTurnos{id}_show_addturnoquick_callback", "#agendaTurnos{id}_popup", initialText, title, extraParams, height, width, "agendaTurnos{id}_popup");
	
}

function agendaTurnos{id}_show_addturnoquick_callback( oid ){
	
	
	closeFinderPopup("#agendaTurnos{id}_popup");

	data = new Array();
	data["info"] = "Turno agregado exitosamente";
	agendaTurnos{id}_turnoChange(data);
}


function agendaTurnos{id}_turnoChange(data){

	
	event = new Event("turnochange", data, "Turno");
	subject.notify(event);
}

function agendaTurnos{id}_tipoAgendaSemanal(){
	data = new Array();
	data["tipoAgenda"] = "semanal";
	event = new Event("turnochange", data, "TipoAgenda");
	
	subject.notify(event);
}

function agendaTurnos{id}_tipoAgendaDiaria(fecha){
	data = new Array();
	
	if(fecha!=null){
		data["fecha"] = fecha;
		
		
	}
	data["tipoAgenda"] = "diaria";
	event = new Event("turnochange", data, "TipoAgenda");
	
	subject.notify(event);
}

$(document).ready(function(){

	$(this).find(".agenda_turno p.toolbar").hide();
	
	$(".turno_ocupado").hover(
			function () {
				$(this).find("div.actions").show();
				},
				function () {
					//$(this).find("div.actions").css({"display":"none"});
					$(this).find("div.actions").hide();
				}
			);	
	
	var isChrome = !!window.chrome && !!window.chrome.webstore;
	if( isChrome ){
		$(".agenda_turno").width("95%");
	}

		
	$(".agenda_turno").hover(
				function () {
					$(this).find("p.toolbar").show();
					},
					function () {
						//$(this).find("div.actions").css({"display":"none"});
						$(this).find("p.toolbar").hide();
					}
				);	
		
	
	
});
reinit();




</script>

<style>

</style>

<div class="agenda">

		<!-- BEGIN: agendaSemanalTitle -->
		<span id="fecha_title">{fecha_label} {semana}
		<!-- END: agendaSemanalTitle -->
		
		<!-- BEGIN: agendaDiariaTitle -->
		<span id="fecha_title">{fecha_label} {fecha}
		
		&nbsp;&nbsp;
		<a href="#" onclick="javascript: agendaTurnos{id}_tipoAgendaSemanal();" >{ver_semana_label}</a>
		
		</span>
		<!-- END: agendaDiariaTitle -->
		
		
		
		<!-- BEGIN: turno -->
		<div class="agenda_turno {first_css} {last_css} {odd_css}" style="display: block;">
		
			<!-- BEGIN: turno_no_disponible -->
			<h2 title='{linkSeleccionarLabel}' style="cursor:pointer;" onclick="javascript: gotoLink('{linkSeleccionarTurno}');">{mensaje}
			</h2>
			<p title="{estado}" class="{turno_css}">
			{hora}
			</p>
			<!-- END: turno_no_disponible -->
			
			
			
			<!-- BEGIN: turno_disponible -->
			
				<p title="{estado}" class="{turno_css}">
					{hora}<!-- BEGIN:duracion -->{duracion}<!-- END:duracion -->
					<!-- BEGIN: ensala -->
					<a style="cursor: pointer;" title="{asignado_label}" href="#" onclick="javascript: turnoAsignado('{linkAsignado}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaTurnos{id}_turnoChange);return false;" >
					<img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/turno_finalizar.png"/></a>
					<!-- END: ensala -->
				
					<!-- BEGIN: asignado -->
					<a style="cursor: pointer;" title="{enSala_label}" href="#" onclick="javascript: turnoEnSala('{linkEnSala}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaTurnos{id}_turnoChange, turnoEnSalaRegistrarCliente{id});return false;" >
					<img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/ensala.png"/></a>
					<!-- END: asignado -->
				</p>
				

				

				<!-- BEGIN: editar -->
				<p class="toolbar transparent">
					<!-- editar turno -->
					<button type="button" title="{linkSeleccionarLabel}"
					onclick="javascript: gotoLink('{linkSeleccionarTurno}');">
					<i class="icon-pencil"></i>
					</button>
					<!-- BEGIN: historia_clinica -->
					<button type="button" title="{historiaClinica_label}"
					onclick="javascript: gotoLink('{linkHistoriaClinica}');">
					<i class="icon-attachment"></i>
					</button>
					<!-- END: historia_clinica -->
					<!-- eliminar -->
					<button type="button" title="{borrar_label}"
					onclick="javascript: borrarTurno('{linkBorrar}','{turno_oid}', '{hora}', '{cliente}', agendaTurnos{id}_turnoChange);return false;">
					<i class="icon-remove"></i>
					</button>
				</p>
				<!-- END: editar -->
			
				<!-- BEGIN: otro_estado_old -->
				<p class="{turno_css}">
					<span class="texto">{estado}</span>
				</p>
				<!-- END: otro_estado_old -->
				
				<!-- BEGIN: ocupado -->
				<h2 class="{prioridad_css}" title='{linkSeleccionarLabel}' style="cursor:pointer;" onclick="javascript: gotoLink('{linkSeleccionarTurno}');">{cliente} 
				<br>
				<span>{telefono}</span>
				<span>{obra_social}</span>
				<!-- span>{nroObraSocial}</span-->
				</h2>
				<!-- BEGIN: prioridadddd -->
				<p class="{prioridad_css}">{prioridad}</p>
				<!-- END: prioridadddd -->
				<!-- END: ocupado -->
				
				
				<!-- BEGIN: libre -->
				<h2 title='{linkSeleccionarLabel}' style="cursor:pointer;width:85%;"
					onclick="javascript: gotoLink('{linkSeleccionarTurno}');"> 
				<!-- onclick="javascript: agendaTurnos{id}_show_addturnoquick('{fecha}','{hora}','{profesional_oid}');"-->
					
					<br />
				</h2>
				<!-- END: libre -->
			
			<!-- END: turno_disponible -->
			
		</div>
		<!-- END: turno -->
		
			
</div>

<!-- BEGIN: no_atiende -->
<div id="agenda_no_atiende">
{no_atiende_msg}
</div>
<!-- END: no_atiende -->


<!--  semanal  -->
<div id="agenda_semanal">
<table class="table_agenda_semanal">
	<thead">
		<tr class="fc-first fc-last">
		
			<th style="width: 50px;">&nbsp;</th>
			<!-- BEGIN:th_dia -->
			<th class="{dia_css}" title='{linkSeleccionarDiaLabel}' style="cursor:pointer;" 
			onclick="javascript: agendaTurnos{id}_tipoAgendaDiaria('{fecha}');">{dia}</th>
			<!-- END: th_dia -->
		</tr>
	</thead>
	<tbody>
		
		<!-- BEGIN:hora -->		
		<tr class="">
		
			<th class="">{hora}</th>
			
			<!-- BEGIN: dia -->
			
			<!-- BEGIN:turno -->
			<td class="{turno_css} {turno_dia_css}" rowspan={turno_filas}>
				<div class="turno_ocupado">
				
					<div class="horizontal-menu" >
				
					<!-- div title='{cliente}/{obra_social}' style="width: 100%;position:relative;cursor:pointer;" onclick="javascript: gotoLink('{linkSeleccionarTurno}');"-->
					<a href="#" class="dropdown-toggle" >{cliente}</a>
					<ul data-role="dropdown" class="dropdown-menu">
						
						<!-- BEGIN:asignado -->		 	
					 	<li><a href="#" 
							onclick="javascript: turnoEnSala('{linkEnSala}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaTurnos{id}_turnoChange,turnoEnSalaRegistrarCliente{id});return false;">
							<i class="icon-alarm-clock on-left"></i>{enSala_label}</a>
						</li>
						<!-- END:asignado -->
						<!-- BEGIN:ensala -->		 	
					 	<li><a href="#" onclick="javascript: turnoAsignado('{linkAsignado}','{turno_oid}', '{hora}', '{cliente}', '{cliente_oid}', agendaTurnos{id}_turnoChange);return false;">
							<i class="icon-exit on-left"></i>{asignado_label}</a>
						</li>
						<!-- END:ensala -->
						<!-- BEGIN:historia_clinica -->
					 	<li><a href="#" onclick="javascript: gotoLink('{linkHistoriaClinica}');"><i class="icon-attachment on-left"></i>{linkHistoriaClinicaLabel}</a></li>					    
						<!-- END:historia_clinica -->
						<li class="divider"></li>
					 	<li><a href="#" onclick="javascript: gotoLink('{linkSeleccionarTurno}');"><i class="icon-new-tab on-left"></i>{linkSeleccionarLabel}</a></li>
					    <li><a href="#" 
							onclick="javascript: borrarTurno('{linkBorrar}','{turno_oid}', '{hora}', '{cliente}', agendaTurnos{id}_turnoChange);return false;">
							<i class="icon-remove on-left"></i>{borrar_label}</a>
						</li>
					</ul>
					</div>
				</div>
				
			</td>
			<!-- END:turno -->

			<!-- BEGIN:turno_ausencia -->
			<td class="{turno_css}  {turno_dia_css}"  title='{linkSeleccionarLabel}' style="cursor:pointer;" onclick="javascript: gotoLink('{linkSeleccionarTurno}');">
				 {mensajeOculto}
			</td>
			<!-- END:turno_ausencia -->
			
			<!-- BEGIN:turno_vacio_sobreturno -->
			<td class="{turno_css} {turno_dia_css}"  title='{linkSeleccionarLabel}' style="cursor:pointer;" 
				onclick="javascript: gotoLink('{linkSeleccionarTurno}');">
				<!-- onclick="javascript: agendaTurnos{id}_show_addturnoquick('{fecha}','{hora}','{profesional_oid}');"-->
				 {mensajeOculto}
			</td>
			<!-- END:turno_vacio_sobreturno -->
			
			<!-- BEGIN:turno_vacio_disponible -->
			<td class="{turno_css} {turno_dia_css}"  title='{linkSeleccionarLabel}' style="cursor:pointer;" 
				onclick="javascript: gotoLink('{linkSeleccionarTurno}');">
				<!-- onclick="javascript: agendaTurnos{id}_show_addturnoquick('{fecha}','{hora}','{profesional_oid}');"-->
				 {mensajeOculto} 
			</td>
			<!-- END:turno_vacio_disponible -->

			<!-- BEGIN:turno_extendido -->
			<!-- END:turno_extendido -->
			
			<!-- END: dia -->
		</tr>
		<!-- END:hora -->
	</tbody>
</table>
</div>



<!-- END:main -->