<!-- BEGIN: main-->
<!DOCTYPE html>
<html>
<head>
<title>{title}</title>

<!-- BEGIN: meta_tags -->
<meta http-equiv='{http_equiv}' content='{meta_content}'  name='{name}'/>
<!-- END: meta_tags -->

<!-- BEGIN: styles -->
<link rel="stylesheet" href="{css}" type="text/css" />
<!-- END: styles -->


<!-- BEGIN: link -->
<link rel="{rel}" href="{href}" type="{type}" />
<!-- END: link -->

<!-- BEGIN: script -->
<script language="javascript" src="{js}"></script>
<!-- END: script -->
</head>
<body class="rasty metro">
{page}
</body>
</html>
<!-- END: main-->