<!-- BEGIN:main -->
<style>
</style>
<script>
function horariosProfesional{id}_borrar(data){

	data = new Array();
	data["oid"] = '{profesional_oid}';
	event = new $.fn.rasty.RastyEvent("horariosProfesional{id}", data, "Horario");
	subject.notify(event);
}

$(document).ready(function(){


});

</script>

<div id="horarios_profesional">


	
	<div class="horario">
		
		<table>
			<!-- BEGIN: horario -->			
			<tr>
				<td><span class="horario_dia">{dia}</span></td>
				
				<td>
					<table>
						<!-- BEGIN: hora -->
						<tr>
							<td>de {horaDesde} a {horaHasta} / Turnos de {duracionTurno} minutos</td>
							<td>
							<button type="button" title="{borrar_label}"
								onclick="javascript: borrarHorario('{linkBorrar}','{horario_oid}', '{dia}', '{horaDesde}', '{horaHasta}', horariosProfesional{id}_borrar);return false;">
								<i class="icon-remove"></i>
							</button>
							</td>
						</tr>
						<!-- END: hora -->					
					</table>
				</td>
			</tr>
			<!-- END: horario -->
		</table>
				
	</div>


</div>
<!-- END:main -->