<!-- BEGIN:main -->
<script>


function submitBuscarLocalidades(){

	$( "#page" ).val( 1 );
	
	//buscarLocalidades();

	submitBuscar("{WEB_PATH}", "#localidad_filter{id}", "#{resultDiv}");
}

function ordenarLocalidades(name, type){

	$( "#orderBy" ).val(name);
	$( "#orderByType" ).val(type);
	
	submitBuscar("{WEB_PATH}", "#localidad_filter{id}", "#{resultDiv}");
}

function paginarLocalidades(page){
	$( "#page" ).val(page);

	submitBuscar("{WEB_PATH}", "#localidad_filter{id}", "#{resultDiv}");
}

function seleccionarLocalidad(event, oid, rowId, checkboxId){
	
	gotoLink("{WEB_PATH}localidades/modificar.html?oid="+oid);
	
}

$(function() {

	submitBuscar("{WEB_PATH}", "#localidad_filter{id}", "#{resultDiv}");

	$(".item input").keyup(function (e) {
        if (e.keyCode == 13) {
            // función para capturar el enter en el filtro default.
       	 submitBuscar("{WEB_PATH}", "#localidad_filter{id}", "#{resultDiv}");
        }
    });
	
});

</script>
<div>
<form class="turnos_form" id="localidad_filter{id}">

		<fieldset>
		<legend id="legend_buscar{id}">{legend}</legend>
		

		<div class="item" style="min-width: {minWidth};">
		    <label for="nombre">{lbl_nombre}:</label>
		    <rasty id="nombre" />
		</div>

	</fieldset>
	
	<input type="hidden" name="model" value="{model}">
	<input type="hidden" name="filter" value="{filter}">
	<input type="hidden" name="sortCallback" value="ordenarLocalidades">
	<input type="hidden" name="paginationCallback" value="paginarLocalidades">
	<input type="hidden" name="selectRowCallback" value="{selectRowCallback}">
	<input type="hidden" id="orderBy" name="orderBy">
	<input type="hidden" id="orderByType" name="orderByType" value="ASC">
	<input type="hidden" id="page" name="page" value="1">

</form>
<form  class="turnos_form" id="buttons{id}">
	<fieldset class="tblFooters">
	
		<button id="input_submit_ajax"  type="button"  onclick="javascript: $( '#page' ).val( 1 ); submitBuscar('{WEB_PATH}', '#localidad_filter{id}', '#{resultDiv}');"><i class="icon-search on-left"></i>{lbl_submit}</button>
		<!-- input type="button" value="Limpiar" id="input_button_2" onclick="javascript: cleanForm('localidad_filter'); "-->
	
	</fieldset>
</form>	
</div>
<!-- END:main -->