<!-- BEGIN:main -->

<script>

function localidadquicksubmit(){


	var resp =  validate( "localidad_quick_form" );
	
	if( resp ){

		var formData = $( "#localidad_quick_form" ).serialize();
		$.ajax({
				url: "{WEB_PATH}localidades/agregarjson.json",
				type: "POST",
				data: formData,
				dataType: "json",
				cache: false,
				success: function(data){

					{onSuccessCallback}(data["oid"]);
					
				}
		});
	}
}


</script>

<div>
<form class="turnos_form" id="localidad_quick_form" onsubmit="return validate('localidad_quick_form');" method="{method}">

		<fieldset>
		<legend>{legend}</legend>

	    <rasty id="oid" />
		
		<div class="item" style="min-width: {minWidth};">
		    <label for="nombre">{lbl_nombre} *:</label>
		    <rasty id="nombre" />
		</div>
	</fieldset>
	
</form>
<form  class="turnos_form" id="buttons{inputId}">
	<fieldset class="tblFooters">
	
		<button type="button"  id="input_submit" onclick="javascript: localidadquicksubmit(); "><i class="icon-checkmark on-left"></i>{lbl_submit}</button>
		<button type="button"  id="input_button_2" onclick="javascript: {onClickCancel} "><i class="icon-cancel-2 on-left"></i>{lbl_cancel}</button>
	</fieldset>
</form>	
</div>
<!-- END:main -->