<!-- BEGIN:main -->

<script>

function clienteshortsubmit(){


	var resp =  validate( "cliente_short_form" );
	
	if( resp ){

		var formData = $( "#cliente_short_form" ).serialize();
		$.ajax({
				url: "{WEB_PATH}pacientes/agregarjson.json",
				type: "POST",
				data: formData,
				dataType: "json",
				cache: false,
				success: function(data){

					if(data["nroHistoriaClinica"]!=null)
						{onSuccessCallback}(data["nroHistoriaClinica"]);

					$("#form_{inputId}_error").html(data["error"]);
					$("#form_{inputId}_error").show();	
					
				}
		});
	}
}


</script>

<div>
<form class="turnos_form" id="cliente_short_form" onsubmit="return validate('cliente_short_form');" method="{method}">

		<fieldset>
		<legend>{legend}</legend>

	    <rasty id="oid" />
		
		<div class="item" style="min-width: {minWidth};">
		    <label for="nombre">{lbl_nombre} *:</label>
		    <rasty id="nombre" />
		</div>
		
		<div class="item" style="min-width: {minWidth};">
		    <label for="tipoDocumento">{lbl_tipoDocumento}:</label>
		    <rasty id="tipoDocumento" />
		</div>

		<div class="item" style="min-width: {minWidth};">
		    <label for="nroDocumento">{lbl_nroDocumento}:</label>
		    <rasty id="nroDocumento" />
		</div>

		<div class="item" style="min-width: {minWidth};">
		    <label for="telefonoFijo">{lbl_telefonoFijo}:</label>
		    <rasty id="telefonoFijo" />
		</div>
		
		<div class="item" style="min-width: {minWidth};">
		    <label for="fechaNacimiento">{lbl_fechaNacimiento}:</label>
		    <rasty id="fechaNacimiento" />
		</div>

		<div class="item" style="min-width: {minWidth};">
		    <label for="sexo">{lbl_sexo}:</label>
		    <rasty id="sexo" />
		</div>

		<div class="item" style="min-width: {minWidth};">
		    <label for="nroHistoriaClinica">{lbl_nroHistoriaClinica} *:</label>
		    <rasty id="nroHistoriaClinica" />
		</div>


	</fieldset>
	
	<fieldset id="form_{inputId}_error" class="ui-state-error" style="display:none">
				
	</fieldset>
	
</form>
<form  class="turnos_form" id="buttons{inputId}">
	<fieldset class="tblFooters">
	
		<button type="button"  id="input_submit" onclick="javascript: clienteshortsubmit(); "><i class="icon-checkmark on-left"></i>{lbl_submit}</button>
		<button type="button"  id="input_button_2" onclick="javascript: {onClickCancel} "><i class="icon-cancel-2 on-left"></i>{lbl_cancel}</button>
	</fieldset>
</form>	
</div>
<!-- END:main -->