<!-- BEGIN: main-->

<div class="helpdesk_item">
	<div class="helpdesk_titulo">
		<h2>{ayuda_titulo}</h2>
		<span class="helpdesk_img">
		<img  height="72px" width="72px" border=0 src="{WEB_PATH}/css/images/helpdesk.png" />
		</span>
	</div>
	<div class="helpdesk_texto">
		En la agenda vas a ver todos los turnos disponibles que tiene el médico para el día seleccionado
		<br /><br />	
		
		Cada renglón tiene una hora. Si el renglón está vacío para la hora que buscás, entonces yo podés asignar un paciente al turno clickeando sobre el renglón.
		<br /><br />	
		
		Se te abrirá una página para que ingreses los datos del turno.
		
		
	</div>		
	<div style="clear: both;"></div>
	
	<div class="helpdesk_titulo">
		<h2>Videos relacionados</h2>
		<span class="helpdesk_img">
		<img  height="72px" width="72px" border=0 src="{WEB_PATH}/css/images/helpdesk_video.png" />
		</span>
	</div>
	<div class="helpdesk_texto">
		<h3>Agregar un turno rápido</h3>
		<video width="750" controls="controls">
			<source type="video/ogg" src="{WEB_PATH}/videos-tutorial/001-Asignando_turnos_rapidos.ogv"></source>
			<p>Este navegador no soporta la reproducción de este video.</p>
		</video>
		
		<h3>Agregar un turno en sala (registrando al paciente)</h3>
		<video width="750" controls="controls">
			<source type="video/ogg" src="{WEB_PATH}/videos-tutorial/002-Asignando_turno_ensala.ogv"></source>
			<p>Este navegador no soporta la reproducción de este video.</p>
		</video>
	</div>
	<div style="clear: both;"></div>
</div>	
<!-- END: main-->