<!-- BEGIN: main-->

<!-- ayuda colores en la agenda -->	
<div class="helpdesk_item">
	<div class="helpdesk_titulo">
		<h2>{ayuda_titulo}</h2>
		<span class="helpdesk_img">
		<img  height="72px" width="72px" border=0 src="{WEB_PATH}/css/images/helpdesk.png" />
		</span>
	</div>
	<div class="helpdesk_texto">
		En la agenda vas a encontrar estos íconos:
		<br /><br />	
		
		<div class="ayuda_referencia">
			<span class="{turno_asignado_css}">
				<span>{asignado_label}</span><img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/ensala.png"/>
			</span>	
			<span>{ponerEnSala_msg}</span>
		</div>
		
		<div class="ayuda_referencia">
			<span class="{turno_enSala_css}">
				<span>{enSala_label}</span><img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/turno_finalizar.png"/>
			</span>	
			<span>{ponerEnAsignado_msg}</span>
		</div>

		<div class="ayuda_referencia">
			<button type="button" class="transparent">
				<i class="icon-remove"></i>
			</button>	
			<span>{borrar_msg}</span>
		</div>
		
	</div>		
	<div style="clear: both;"></div>
</div>	
<!-- END: main-->