<!-- BEGIN: main-->

<!-- ayuda colores en la agenda -->	
<div class="helpdesk_item">
	<div class="helpdesk_titulo">
		<h2>{ayuda_titulo}</h2>
		<span class="helpdesk_img">
		<img  height="72px" width="72px" border=0 src="{WEB_PATH}/css/images/helpdesk.png" />
		</span>
	</div>
	<div class="helpdesk_texto">
		En la agenda vas a encontrar un color distinto para cada estado del turno.
		<br /><br />
		Los posibles estados son:
		<br /><br />	
		
		<div class="ayuda_referencia">
			<span class="{turno_asignado_css}">
				<span>{asignado_label}</span>
			</span>	
			<span>{asignado_msg}</span>
		</div>
		
		<div class="ayuda_referencia">
			<span class="{turno_enSala_css}">
				<span>{enSala_label}</span>
			</span>	
			<span>{enSala_msg}</span>
		</div>
		
		<div class="ayuda_referencia">
			<span class="{turno_enCurso_css}">
				<span>{enCurso_label}</span>
			</span>	
			<span>{enCurso_msg}</span>
		</div>
		
		<div class="ayuda_referencia">
			<span class="{turno_atendido_css}">
				<span>{atendido_label}</span>
			</span>	
			<span>{atendido_msg}</span>
		</div>
		
		<div class="ayuda_referencia">
			<span class="{turno_ausencia_css}">
				<span>{ausencia_label}</span>
			</span>	
			<span>{ausencia_msg}</span>
		</div>
	</div>		
	<div style="clear: both;"></div>
</div>	
<!-- END: main-->