<!-- BEGIN: main-->

<div class="helpdesk_item">
	<div class="helpdesk_titulo">
		<h2>{ayuda_titulo}</h2>
		<span class="helpdesk_img">
		<img  height="72px" width="72px" border=0 src="{WEB_PATH}/css/images/helpdesk.png" />
		</span>
	</div>
	<div class="helpdesk_texto">
		
		Los sobre-turnos podrán crearse independientemente de los horarios definidos para el médico.
		<br /><br />	
		
		En el menú "{opcionesPagina}" vas a encontrar la opción <a href="{agregarSobreturno_link}"><img width="24px" height="24px" src="{agregarSobreturno_img}"/> {agregarSobreturno_label}</a>.
		<br /><br />	
		
		Se te abrirá una página para que ingreses los datos del sobre-turno: Hora, Paciente, Obra social, Nro de Afiliado, Estado e Importe.
		<br /><br />	
		
		Es importante que elijas el Estado correcto para el turno.
		<br /><br />
		
	</div>		
	<div style="clear: both;"></div>
</div>	
<!-- END: main-->