<!-- BEGIN:main -->
<script>
$(document).ready(function(){
	
	var isChrome = !!window.chrome && !!window.chrome.webstore;
	if( isChrome ){
		$("#totalesDia .total").width("95%");
	}
});
</script>
<div id="totalesDia">

	<div class="total">
		<h2>{lbl_enSala}</h2>
		<p>{enSala}</p>
	</div>
	<div class="total">
		<h2>{lbl_atendidos}</h2>
		<p>{atendidos}</p>
	</div>
	<div class="total">
		<h2>{lbl_asignados}</h2>
		<p>{asignados}</p>
	</div>
	<div class="total">
		<h2>{lbl_totalPacientes}</h2>
		<p>{totalPacientes}</p>
	</div>
	<div class="total">
		<h2>{lbl_importe}</h2>
		<p>{importe}</p>
	</div>
</div>
<!-- END:main -->