<!-- BEGIN: main-->

<!-- ayuda iconos en el panel de trabajo -->	
<div class="helpdesk_item">
	<div class="helpdesk_titulo">
		<h2>{ayuda_titulo}</h2>
		<span class="helpdesk_img">
		<img  height="72px" width="72px" border=0 src="{WEB_PATH}/css/images/helpdesk.png" />
		</span>
	</div>
	<div class="helpdesk_texto">
		En tu panel de trabajo vas a encontrar estos íconos:
		<br /><br />	
		
		<div class="ayuda_referencia" >
			<span class="{turno_asignado_css}" style="padding:8px">
				<span>16:30</span><img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/ensala.png"/>
			</span>	
			<span>{pasarAsignadoEnSala_msg}</span>
		</div>
		
		<div class="ayuda_referencia">
			<span class="{turno_atendido_css}" style="padding:8px">
				<span>18:00</span><img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/ensala.png"/>
			</span>	
			<span>{pasarAtendidoEnSala_msg}</span>
		</div>

		<div class="ayuda_referencia" >
			<span class="{turno_enSala_css}" style="padding:8px">
				<span>17:30</span><img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/turno_iniciar.png"/>
			</span>	
			<span>{pasarEnSalaEnCurso_msg}</span>
		</div>
		
		<div class="ayuda_referencia" >
			<span class="{turno_enCurso_css}" style="padding:8px">
				<span>17:30</span><img class="btn-icon"  border=0 src="{WEB_PATH}/css/images/turno_finalizar.png"/>
			</span>	
			<span>{pasarEnCursoAtendido_msg}</span>
		</div>
		
		
		
	</div>		
	<div style="clear: both;"></div>
</div>	
<!-- END: main-->